@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    color: #222222;
    margin: 0;
    font-family: "Barlow";
    width: 100%;
}

a {
    text-decoration: none;
    color: #222222;
}

a:hover {
    color: #ca3c3f;
}

.header {
    width: auto;
    text-align: center;
    padding: 0;
    margin-top: 20vw;
}

.menu {
    width: auto;
    text-align: center;
    font-weight: bold;
}

.menu_links {
    list-style: none;
    padding: 0;
}

.banner {
    width: 100%;
    text-align: center;
}

.banner p {
    font-size: 2.5rem;
    text-align: left;
    padding-left: 0.4rem;
    padding-right: 6.25rem;
}

.botao {
    border: 1px solid #333333;
    border-radius: 1rem;
    padding: 1.25rem;
    padding-right: 6.25rem;
    font-size: 1.25rem;
}

.banner img {
    width: 90%;
    text-align: center;
}

.coluna {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}



.cardapio {
    box-sizing: border-box;
    border-top: 1px dashed #999999;
    width: 100%;
    margin: auto;
    max-width: 43.75rem;
    text-align: center;
    margin-top: 6.25rem;
    padding: 6.25rem 1rem 0.6rem 1rem;
}

.cardapio_categoria {
    text-align: left;
    color: #ca3c3f;
    font-size: 1.30rem;
    margin-top: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cardapio_item {
    padding-top: 1.25rem;
    text-align: left;
    width: 100%;
}

.cardapio_nome {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
}

.cardapio_preco {
    font-size: 0.75rem;
    color: #ca3c3f;
}

.cardapio_descricao {
    font-size: 0.75rem;
    color: #999999;
}

.link_whatsApp img {
    height: 3.75rem;
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
}





footer {
    margin-top: 30vw;
    text-align: center;
    padding: 20%;
    font-size: 1rem;
    color: #fff;
    background-color: #333333;
}

@media (max-width: 900px) {
    .coluna {
        width: 100%;
        vertical-align: middle;
        margin-bottom: 10%;
    }

    .banner p {
        font-size: 2rem;
        text-align: center;
        padding-left: 3.1rem;
        padding-right: 3.1rem;
    }

}